{% extends 'navigation.html' %}
{% block body %}
<div class="container" style="margin-top: 60px;">
    <h3 class="text-center text-primary font-weight-bold">Add Plan</h3>
    <form action="" method="post">
        {% csrf_token %}
        <label for=""><b>Name</b></label>
        <input type="text" name="name" class="form-control">
        <label for=""><b>Amount</b></label>
        <input type="text" name="amount" class="form-control">
        <label for=""><b>Duration</b></label>
        <input type="text" name="duration" class="form-control">
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% ifequal error "no" %}
<script>
    alert('Record Inserted Successfully');
    window.location=("{% url 'view_plan' %}")
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endifequal %}

{% endblock%}
{% block css %}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
}
{% endblock %}
{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-white">Copyright @2020 All rights reserved | Made With <i class="fa fa-heart"></i>
                    by Pawan Kumar</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock%}