{% extends 'navigation.html' %}
{% block body %}
{% load static %}
{% ifequal error "no" %}
<script>
    alert('Logged In Successfully');
    window.location=("{% url 'home' %}")
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}
<!-- <div class="container" style="margin-top: 60px;">
    <h3 class="text-center text-primary font-weight-bold">Admin Login</h3>
    <form action="" method="post">
        {% csrf_token %}
        <label for=""><b>Admin Name</b></label>
        <input type="text" name="uname" class="form-control">
        <label for=""><b>Password</b></label>
        <input type="password" name="pwd" class="form-control">
        <br>
        <input type="submit" value="Login" class="form-control btn btn-primary">
    </form>
</div> -->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-80 ">
            <form class="login100-form validate-form pt-0" action="" method="post">
                {% csrf_token %}
                <div class="login100-form-avatar">
                    <img src="{% static 'images/gym-avatar.jpg' %}" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45 mt-5 mb-4">
                    Admin Login
                </span>

                <div class="wrap-input100 validate-input m-b-10 mb-3" data-validate = "Username is required">
                    <input class="input100" type="text" name="uname" placeholder="Username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10 mb-3" data-validate = "Password is required">
                    <input class="input100" type="password" name="pwd" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="#" class="txt1">
                        Forgot Username / Password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}