<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Gym Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="" class="navbar-brand">Gym Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#abc"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="abc">
        <ul class="navbar-nav">
            {% if not request.user.is_staff %}
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            {% else %}
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Enquiry</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Add Enquiry</a>
                    <a href="#" class="dropdown-item">View Enquiry</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Plan</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Add Plan</a>
                    <a href="#" class="dropdown-item">View Plan</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Equipment</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Add Equipment</a>
                    <a href="#" class="dropdown-item">View Equipment</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
           {% endif %}
        </ul>
    </div>
</nav>
{% block body %}

{% endblock %}








</html>